.App {
  text-align: center;
}

body {
  background-image: url("stars.PNG");
}
.b{
  font-size:  20px;
  color: white;
}

.container .btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-image: url("logo.PNG");
  padding: 35px 140px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
}
